<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="net.tecgurus.agenda.mappers.ContactoMapper">
 
 	<select id='buscar' parameterType='String' resultType="Contacto">
 		SELECT * FROM contactos WHERE id_usuario = #{id}
 		<if test="busqueda != null">
 		<bind name="buscarCorregido" value="'%'+busqueda+'%'"/>
 			AND nombre LIKE #{buscarCorregido} OR apellido LIKE #{buscarCorregido}
 		</if>
 	</select>
 
 	<select id='buscarCount' parameterType='long' resultType="Contacto">
 		SELECT COUNT(*) FROM contactos WHERE id_usuario = #{id}
 		<if test="busqueda != null">
 		<bind name="buscarCorregido" value="'%'+busqueda+'%'"/>
 			AND nombre LIKE #{buscarCorregido} OR apellido LIKE #{buscarCorregido}
 		</if>
 	</select>
 	
 </mapper>